<!--index for the missions controller-->
@{
    ViewBag.Title = "Index";
}
<!--links this page to the style sheet to create a better looking view-->
<link href="~/Content/MyStyles.css" rel="stylesheet" />
<h2>Select a Mission</h2>
<!--Drop down menu which displays the different missions you can select from-->
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Select a Mission
        <span class="caret"></span>
    </button>
    <!--When the user selects a mission from the drop down menu the parameters with the associated mission are passed to the next view-->
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Brazil Recife Mission", "Index", "Missions1", new { MissionID = "1" }, null)</li>
        <li>@Html.ActionLink("L'viv, Ukraine Mission", "Index", "Missions1", new { MissionID = "2" }, null)</li>
        <li>@Html.ActionLink("Pennsylvania Pittsburgh Mission", "Index", "Missions1", new { MissionID = "3" }, null)</li>
    </ul>
</div>
