@{
    ViewBag.Title = "About";
}
<link href="~/Content/MyStyles.css" rel="stylesheet" />
@* basic layout for the about page. Includes an image and a bulleted list *@
<div class="row">
    <div class="col-sm-4">
        <center>
            <img style="width: 250px;" src="~/Content/img/logo.jpg" />
        </center>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
        <center>
            <h1 class="classy">About Missionary Hub</h1>
        </center>
        <h3>
            Missionary Hub was created to help future missionaries like you
            find people from your mission to connect with. Our goal is to help missionaries
            become more prepared for their missions and give currently serving missionaries
            another way to serve the people of the world.
        </h3>
        <h2>Our history:</h2>
        <ul style="font-size: 16px;">
            <li>Founded in 2005</li>
            <li>All employees are BYU students or alumni</li>
            <li>We start each work day with a prayer</li>
            <li>More information can be found at lds.org</li>
        </ul>
        <center>
            <a href="https://www.lds.org/manual/preach-my-gospel-a-guide-to-missionary-service?lang=eng">
                <input type="button" class="btn btn-primary" value="Read Our Values">
            </a>
        </center>


    </div>
    <div class="col-sm-1"></div>
</div>
