<!--index for the home controller-->
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/MyStyles.css" rel="stylesheet" />
<center>
    <img class="full-screen" style="height: 650px;" src="~/Content/img/wheatfinal.jpg" />
</center>
<div class="jumbotron jumbotron-color">
    <h2 class="classy">The field is white...</h2>
    <center>
        <h1 class="classy">Missionary Hub</h1>
    </center>
    <h3 style="font-family: 'Times New Roman', Times, serif ">For I am not ashamed of the gospel of Christ...for it is the Power of God unto salvation to every one that believeth.</h3>
    <h5>Romans 1:16</h5>
    <center>
        <input type="button" class="buttons call-to-action primary" value="Learn More" />
    </center>
</div>
<center>
    <img class="full-screen" src="~/Content/img/christHand.jpg" />
</center>
<div class="jumbotron-color">
    <center>
        <h1 class="classy">Invite all to Come Unto Christ</h1>
        <h3>Press play to view the video</h3>
        <video width="640" height="480" poster="" controls>
            <source src="~/Content/img/2014-01-001-unto-all-the-world-hastening-the-work-in-europe-360p-eng.mp4" type="video/mp4">
        </video>
    </center>
</div>